<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <title>{{title}}</title>
</head>

<body>
     <div class="main-content">
        {{>header}}
        {{content}}
  
     </div>
     
      {{>footer}}
</body>

</html>